.fa-leaf:before {
	margin-right:7px;
}

.fa-book:before {
	margin-right:7px;
}

.fa-pencil-square-o:before {
	margin-right:7px;
}

.fa-user:before {
	margin-right:7px;
}

.fa-cog:before {
	margin-right:7px;
}

.fa-sign-out:before {
	margin-right:7px;
}

.fa-sign-in:before {
	margin-right:7px;
}

.fa-users:before {
	margin-right:7px;
}

// .top-bar-section li.active:not(.has-form) a:not(.button) {
// 	background-color: $secondary-color;
// }