.fa-leaf:before {
	margin-right:7px;
}

.fa-book:before {
	margin-right:7px;
}

.fa-pencil-square-o:before {
	margin-right:7px;
}

.fa-user:before {
	margin-right:7px;
}

.fa-cog:before {
	margin-right:7px;
}

.fa-sign-out:before {
	margin-right:7px;
}