// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 a {
	color: #222;
	font-weight: 700;
}

h6 .subheader {
	font-weight: 400;
}