<div id="trianglify">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h1 class="text-center">A simple blogging app</h1>
		</div>
	</div>
</div>
<div class="row collapse">
    <div class="small-12 small-centered columns">
     <%= render partial: 'post_preview' %>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered column">
		<div class="pagination-centered">
			<%= will_paginate @posts, renderer: FoundationPagination::Rails %>
		</div>
	</div>
</div>